<html>
<body width="960px" align="center">
<h1> Remove Student </h1>

<div>
<p> Please enter a name of student to remove from the list </p>
<div>
<form method="post" action="/removeTrainee" style="display:inline-block;">
<div>
  <label for="inputName">Name</label>
  <input type="text" id="inputName" name="name" size="20">
</div>
</div>  
<button type="submit"> Remove </button>
</form>
&nbsp; &nbsp;
<form method="get" action="/" style="display:inline-block;"> 
<div>
<button type="submit"> Go Back </button>
</div>
</form>
</body>
</html>
 
