<html>
<body width="960px" align="center">
<h1> Add Student </h1>
<div>
<p> Please enter Name and Status (E=Enroll, N=No Show) of the student to add to the list </p>
<div>
<form method="post" action="/addTrainee" style="display:inline-block;">
<div>
  <label for="inputID">Name</label>
  <input type="text" id="inputName" name="name" size="20">
</div>
<br>
<div>
  <label for="inputName">Status</label>
  <input type="text" id="inputStatus" name="status" size="20">
</div>
</div> 
<button type="submit"> Add </button> 
</form>
&nbsp; &nbsp;
<form method="get" action="/" style="display:inline-block;">
<div> 
<button type="submit"> Go Back </button>
</div>
</form>
</body>
</html>
 
